<div class="col-lg-3 col-md-3 col-sm-6 hidden-xs">
  <div class="tile green">
      <div class="tile-icon">
          <i class="fd-cutlery25 s64"></i>
      </div>
      <div class="tile-content">
        <% if @recipe.serves.present? %>
          <div class="number"><%= @recipe.serves %></div>
          <h3>Serves</h3>
        <% else %>
          <div class="number"><%= @recipe.prep_hours %> : <%= @recipe.prep_minutes %></div>
          <h3>Prep Time</h3>
        <% end %>
      </div>
  </div>
</div>
<!-- End Statistic -->

<div class="col-lg-3 col-md-3 col-sm-6 hidden-xs">
  <div class="tile gray-spr">
      <div class="tile-icon">
          <i class="fd-healthyfood2 s64"></i>
      </div>
      <div class="tile-content">
          <div class="number"><%= @recipe.calories_value %></div>
          <h3>Calories</h3>
      </div>
  </div>
</div>
<!-- End Statistic -->

<div class="col-lg-3 col-md-3 col-sm-6 hidden-xs">
  <div class="tile orange">
      <div class="tile-icon">
          <i class="ec-download s64"></i>
      </div>
      <div class="tile-content">
          <div class="number">
            <% if @recipe.cook_time.present? %>
              <%= @recipe.cook_time %>
            <% else %>
              <%= @recipe.cook_hours %> : <%= @recipe.cook_minutes %>
            <% end %>
          </div>
          <h3>Cook Time</h3>
      </div>
  </div>
</div>
<!-- End Statistic -->

<div class="col-lg-3 col-md-3 col-sm-6 hidden-xs">
  <div class="tile pink">
      <div class="tile-icon">
          <i class="ec-download s64"></i>
      </div>
      <div class="tile-content">
          <div class="number"><%= @recipe.calories_value %></div>
          <h3>Calories</h3>
      </div>
  </div>
</div>
<!-- End Statistic -->