<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="gallery">
            <!-- start .gallery -->
            <div class="gallery-toolbar">
                <div class="col-lg-12">
                    <!-- col-lg-12 start here -->
                    <button class="filter btn btn-primary btn-alt mr5" data-filter="all">All</button>
                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".sea">Sea</button>
                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".city">City</button>
                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".nature">Nature</button>
                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".vegetables">Vegetables</button>
                    <span class="sort btn btn-primary btn-alt" data-sort="random">Random</span> 
                </div>
                <!-- col-lg-12 end here -->
            </div>
            <div class="gallery-inner">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="1">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/1.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/1.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix city" data-my-order="2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/2.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/2.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix city" data-my-order="3">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/3.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/3.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix nature" data-my-order="4">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/4.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/4.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix nature" data-my-order="5">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/5.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/5.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix nature" data-my-order="6">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/6.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/6.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="7">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/7.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/7.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="8">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/8.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/8.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix vegetables" data-my-order="9">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/9.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/9.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix vegetables" data-my-order="10">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/10.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/10.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="11">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/11.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/11.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix city" data-my-order="12">
                    <a href="#" class="thumbnail">
                        <%= image_tag "sprFlat/gallery/12.jpg", alt: "image" %>
                    </a>
                    <div class="gallery-image-controls">
                        <div class="action-btn">
                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/12.jpg"><i class="ec-search"></i></a>
                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- gallery end here -->
    </div>
    <!-- Page End here -->
</div>