<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title><%= @title || "Delicious" %></title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>

        <!-- HEAP Analytics -->
        <script type="text/javascript">
            window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
            heap.load("1479772423");
        </script>
    </head>
    <body>
        <!-- Start #header -->
        <div id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="navbar-header" style="width: 210px;">
                        <% if user_signed_in? %>
                            <%= link_to inside_path do %>
                                <%= image_tag("logos/logoTemp_Header.png", style: "margin: 0 auto", class: "hidden-xs") %>
                            <% end %>
                        <% else %>
                            <%= link_to root_path do %>
                                <%= image_tag("logos/logoTemp_Header.png", style: "margin: 0 auto", class: "hidden-xs") %>
                            <% end %>
                        <% end %>
                    </div>

                    <nav class="top-nav" role="navigation">
                        <% if user_signed_in? %>
                        <ul class="nav navbar-nav pull-left">
                            <%= render 'layouts/top_left_nav' %>
                        </ul>
                        <% end %>
                        <ul class="nav navbar-nav pull-right">
                            <%= render 'layouts/top_right_nav' %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <% if user_signed_in? %>
        <div id="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-panel panel-nav-header dark-bg">
                    <h4 class="sidebar-panel-title">Navigation</h4>
                    <a href="#" id="expand-all-submenus" class="expand-submenus tip" title="Expand all sub menus"><i class="en-plus"></i> </a>
                </div>
                <ul id="sideNav" class="nav nav-pills nav-stacked">
                    <%= render 'layouts/side_nav' %>
                </ul>
            </div>
        </div>
        <% end %>

        <div id="content">
            <div class="content-wrapper">
                <!--<div class="row">
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="im-screen"></i> Blank page</h1>
                    </div>
                </div> -->
                <div class="outlet">
                    <div class="row">
                        <%= yield %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </body>
</html>